body{
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3rem;
    margin-top: 5rem;
}

.dice{
    font-size: 7rem;
    margin-top: 10px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.roll-animation{
    animation-name: roll;
}

@keyframes roll{
    0%{
        transform: rotateY(0deg) rotateX(0deg);
    }

   100%{
        transform: rotateY(720deg) rotateX(720deg);
    }
}

button{
    background-color: rgb(145, 91, 199);
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: rgb(127, 15, 239);
    color: black;
    font-size: 1.5rem;
    padding: 13px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

ul{
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 2rem auto;
}

li{
    font-size: 1.5rem;
    padding: .5rem;
    margin: 05rem;
    background-color: #f2f2f2;
    border-radius: .5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span{
    font-size: 3rem;
    margin-right: 1rem;
}